/* initial */
* {
  font-family: system-ui;
}

* p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 10px;
}

* h1 {
  font-size: 72px;
  font-family: Trebuchet MS;
}

* h2 {
  font-size: 48px;
  font-family: Trebuchet MS;
}

* ul {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

* ul li {
  margin-bottom: 5px;
  -webkit-flex: 1;
  flex: 1;
  font-size: 18px;
}

* h2 {
  margin: 10px 0;
}

* h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

* td {
  height: 50px;
  text-align: center;
}

/* set parameters */
.center {
  margin: 50px auto;
  width: 80%;
}

.flexbox {
  display: flex;
}

.fb-row {
  flex-direction: row;
}
.fb-column {
  flex-direction: column;
}

.fb-center {
  justify-content: center;
  align-items: center;
}

.two-sides {
  justify-content: space-between;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 30px;
}

.item-margin {
  margin-bottom: 15px;
}

/* home page */

.nav-block {
  background-color: rgb(241, 241, 241);
  width: 20%;
  margin: 30px;
  position: static;
}

.tab-btn {
  width: 100%;
  height: 50px;
}

.content-block {
  width: 80%;
  margin: 30px;
}

.block {
  margin: 150px 50px;
  justify-content: center;
  align-items: center;
}

#courses {
  margin: 150px 50px;
  justify-content: center;
  align-items: start;
}

#pet .block {
  margin: 50px;
}

.word-highligh {
  color: #e32050;
}

.img-taiwan {
  width: 200px;
  height: 100%;
}

.img-books,
.img-man {
  width: 200px;
  height: 100%;
  margin-right: 50px;
}

.img-books {
  margin-top: 100px;
}

.img-finish,
.img-like,
.img-care {
  width: 175px;
  height: 100%;
  margin-left: 50px;
}

.img-language,
.img-appointment {
  width: 175px;
  height: 100%;
  margin-right: 80px;
}

.img-photo {
  width: 250px;
  margin-right: 50px;
  border-radius: 50px;
}

.img-hello {
  width: 150px;
  height: 100%;
  margin-left: 50px;
}

.list-items {
  margin: 15px 0;
  line-height: 2;
}

.description {
  margin-left: 30px;
}

.long-sentence {
  max-width: 500px;
}

.table-style {
  /* border-collapse: collapse; */
  width: 900px;
}

#pet {
  margin: 150px 50px;
  padding: 0;
}

#tab1 ul li::before,
#tab2 ul li::before,
#tab3 ul li::before {
  content: "✓";
  margin-right: 10px;
}

.tab-block {
  margin: 20px 0;
}

.tabs li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.tabs a {
  padding: 10px;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.tabs a.active {
  background-color: black;
  color: white;
}

.tabs a:hover {
  background-color: #4a4a4a;
  color: white;
  border: 2px solid #4a4a4a;
}

.tab-content {
  width: 650px;
}

#container {
  border: 2px solid #292929;
  border-radius: 15px;
  padding: 10px 50px;
  margin-top: 10px;
}

#container p {
  margin: 25px 0;
}

#note {
  margin-top: 10px;
}

#submit {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: medium;
}

#guestName,
#email,
#petName,
#date,
#species {
  height: 35px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  min-width: 160px;
}

#note {
  border-radius: 5px;
}
